@import '../../variables';

.favourites-list-wrapper {
  border-right: 1px dotted $color-black;

  .header-wrapper {
    background-color: $color-turquoise;
    padding: 10px;

    p {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: $color-white;
    }
  }

  .list-container {
    height: 100%;

    .dnd-img-wrapper {
      height: 100%;
      text-align: center;
      padding-top: 200px;

      .is-over {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        background-color: $color-gray-light;
      }
    }

    .favourites-list-container {
      padding: 10px;
      height: 100%;
    }
  }
}
